In [1]:
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException

Q1. Scrape the details of most viewed videos on youTube  from wikipedia:
    url=https://en.wikipedia.org/wiki/List_of_mostviewed_YouTube_videos
    you need to find following details:
    1.Rank
    2.Name
    3.Artist
    4.Upload date
    5.Views

In [3]:
# opening driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
# get url
driver.get(url)

In [31]:
most_viewed={}
most_viewed['Rank']=[]
most_viewed['Name']=[]
most_viewed['Artist']=[]
most_viewed['Upload_date']=[]
most_viewed['Views']=[]

rank=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]') #xpath to find rank of video
for r in rank:
    most_viewed['Rank'].append(r.text.replace('.',''))
name=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')  #xpath to find name of video
for n in name:
    most_viewed['Name'].append(n.text)
artist=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')  #xpath to find artist name 
for a in artist:
    most_viewed['Artist'].append(a.text)
date=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')  #xpath to find video upload date
for d in date[0:30]:
    most_viewed['Upload_date'].append(d.text)
    
views=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]') #xpath to find views 
for v in views:
    most_viewed['Views'].append(v.text)

In [32]:
len(most_viewed['Rank']),len(most_viewed['Name']),len(most_viewed['Artist']),len(most_viewed['Upload_date']),len(most_viewed['Views'])

(30, 30, 30, 30, 30)

In [33]:
most_viewed=pd.DataFrame.from_dict(most_viewed)
most_viewed

,Rank,Name,Artist,Upload_date,Views
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.38
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.41
3,4,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.19
7,8,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.12
8,9,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.90
11,12,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.37
14,15,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.26
17,18,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19,"""Faded""[44]",Alan Walker,"December 3, 2015",3.07
19,20,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.06
20,21,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.04
22,23,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.04
23,24,"""Girls Like You""[49]",Maroon 5,"May 31, 2018",3.04
24,25,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.92
26,27,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.82

In [111]:
driver.close()

Q2.Scrape the details team India's international fixture from bcci.tv
url= https://www.bcci.tv/
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
# opening driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

url='https://www.bcci.tv/'
# get url
driver.get(url)

In [4]:
#clicking international 
international=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]') #xpath to find international option 
international.click()

#open fixture
fixture=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]/div/ul/li[1]/a')  #xpath to find fixture option
fixture.click()

In [9]:
#empty lists
I_fixture={}
I_fixture['Match_title']=[]
I_fixture['Series']=[]
I_fixture['Place']=[]
I_fixture['Date']=[]
I_fixture['Time']=[]

#match title
title=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')  #xpath to find match title
for t in title:
    I_fixture['Match_title'].append(t.text)

#extracting match series 
series=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')  #xpath to find match series
for s in series:
    I_fixture['Series'].append(s.text)

#extracting match place
place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')  #xpath to find match place
for p in place: 
    I_fixture['Place'].append(p.text)
    
#extracting match date    
date=driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]')  #xpath to find match date
for d in date:
    I_fixture['Date'].append(d.text[:-9].replace('\n',' '))

#extracting match timing
time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')   #xpath to find matching timing
for t in time:
    I_fixture['Time'].append(t.text)

In [10]:
len(I_fixture['Match_title']),len(I_fixture['Series']),len(I_fixture['Place']),len(I_fixture['Date']),len(I_fixture['Time'])

(6, 6, 6, 6, 6)

In [11]:
I_fixture=pd.DataFrame.from_dict(I_fixture)
I_fixture

,Match_title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,Final,"The Ageas Bowl, Southampton",Friday 18 JUNE,15:00 IST
1,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
2,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",Thursday 12 AUGUST,15:30 IST
3,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
4,ENGLAND V INDIA 2021,4th Test,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
5,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

Q3.Scrape the details of selenium exception from guru99.com
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [16]:

url='https://www.guru99.com/'
#get url
driver.get(url)

#search bar
search_bar=driver.find_element_by_id('gsc-i-id2')
search_bar.clear()
search_bar.send_keys('Selenium handling exception')

#search button
search_button=driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/form/table/tbody/tr/td[2]/button')
search_button.click()

In [17]:
#clicking on information page
page = driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a').get_attribute('href')
driver.get(page)

#empty list
Exceptions={}
Exceptions['Name']=[]
Exceptions['Description']=[]


#exception name
name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')  #xpath to find name of exception
for n in name[1:]:
    Exceptions['Name'].append(n.text)
    
#description of named exception
des=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')  #xpath to find  description of exception
for d in des[1:]:
    Exceptions['Description'].append(d.text)

In [18]:
Exceptions=pd.DataFrame.from_dict(Exceptions)
Exceptions

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4.Scrape the details of State-wise GDP of India from statisticstime.com

url= http://statisticstimes.com/

You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
# opening driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [30]:
#url
url='http://statisticstimes.com/'
#get url
driver.get(url)

#economy option
economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button') #xpath to find economy 
economy.click()

#selecting india option in economy list
e_india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]') #xpath to find india option in economy
e_india.click()

#opening GDP page
GDP_page=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a') #xpath to find GDP page
GDP_page.click()


#Empty list
Statistics_Time={}
Statistics_Time['Rank']=[]
Statistics_Time['State']=[]
Statistics_Time['GSDP(19-20)']=[]
Statistics_Time['GSDP(18-19)']=[]
Statistics_Time['Share(18-19)']=[]
Statistics_Time['GDP($billion)']=[]

rank=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')#xpath to find the rank of state
for r in rank:
    Statistics_Time['Rank'].append(r.text)
    
state=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]') #xpath to find state name
for s in state:
    Statistics_Time['State'].append(s.text)

dsdp=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')  #xpath to find GSDP(19-20)
for d in dsdp:
    Statistics_Time['GSDP(19-20)'].append(d.text)
    
dsdp1=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')  #xpath to find GSDP(18-19)
for p in dsdp1:
    Statistics_Time['GSDP(18-19)'].append(p.text)
    
share=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]') #xpath to find Share(18-19)
for s in share:
    Statistics_Time['Share(18-19)'].append(s.text)

gdp=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]') #xpath to find GDP
for g in gdp:
    Statistics_Time['GDP($billion)'].append(g.text)

In [28]:
len(Statistics_Time['Rank']),len(Statistics_Time['State']),len(Statistics_Time['GSDP(19-20)']),len(Statistics_Time['GSDP(18-19)']),len(Statistics_Time['Share(18-19)']),len(Statistics_Time['GDP($billion)'])

(33, 33, 33, 33, 33, 33)

In [29]:
Statistics_Time=pd.DataFrame.from_dict(Statistics_Time)
Statistics_Time

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,-,13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,687,818",8.39%,240.726
3,4,Gujarat,-,-,7.96%,228.290
4,5,Karnataka,"1,631,977","1,631,977",7.91%,226.806
5,6,West Bengal,"1,253,832","1,253,832",5.77%,165.556
6,7,Rajasthan,"1,020,989","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"972,782","972,782",4.57%,131.083
8,9,Telangana,"969,604","969,604",4.56%,130.791
9,10,Madhya Pradesh,"906,672","906,672",4.29%,122.977
10,11,Kerala,-,-,4.14%,118.733
11,12,Delhi,"856,112","856,112",4.10%,117.703
12,13,Haryana,"831,610","831,610",3.89%,111.519
13,14,Bihar,"611,804","611,804",2.81%,80.562
14,15,Punjab,"574,760","574,760",2.79%,79.957
15,16,Odisha,"521,275","521,275",2.58%,74.098
16,17,Assam,-,-,1.67%,47.982
17,18,Chhattisgarh,"329,180","329,180",1.61%,46.187
18,19,Jharkhand,"328,598","328,598",1.57%,45.145
19,20,Uttarakhand,-,-,1.30%,37.351
20,21,Jammu & Kashmir,-,-,0.83%,23.690
21,22,Himachal Pradesh,"165,472","165,472",0.81%,23.369
22,23,Goa,"80,449","80,449",0.39%,11.115
23,24,Tripura,"55,984","55,984",0.26%,7.571
24,25,Chandigarh,-,-,0.22%,6.397
25,26,Puducherry,"38,253","38,253",0.18%,5.230
26,27,Meghalaya,"36,572","36,572",0.18%,5.086
27,28,Sikkim,"32,496","32,496",0.15%,4.363
28,29,Manipur,"31,790","31,790",0.15%,4.233
29,30,Nagaland,-,-,0.14%,4.144
30,31,Arunachal Pradesh,-,-,0.13%,3.737
31,32,Mizoram,"26,503","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5.Scrape the details of tranding repositories on Github.com
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
#opening the driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [17]:
#get url
url='https://github.com/'
driver.get(url)

#opening explore menu
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary') #xpath to find explore option
explore.click()
time.sleep(2)

#opening trending option 
trending=driver.find_element_by_xpath('//li[@class="edge-item-fix"]//following::a[@href="/trending"]')  #xpath to find trending option 
trending.click()
time.sleep(2)

In [18]:
#emptylist
Github_details={}
Github_details['Repository_user']=[]                                
Github_details['Repository_Title']=[]
Github_details['Repository_description']=[]
Github_details['Contributors_count']=[]
Github_details['Language_used']=[]

#repository user name and repository title
title=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a') #xpath to extract repository title
for t in title:
    Github_details['Repository_user'].append(t.text.split("/")[0])   #appending user name in list
    Github_details['Repository_Title'].append(t.text.split("/")[1])  #appending title of repository 

#countributers
contribut_count=driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]')  #xpath to find repository countributers count
for i in contribut_count:
    Github_details['Contributors_count'].append(len(i.find_elements_by_tag_name("a")))

    
page=[]
pages=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')  # xpath to extract repository pages
for p in pages:
    page.append(p.get_attribute('href')) #getting attribute of repository pages

for i in page:
    driver.get(i)
    try:
        des=driver.find_element_by_xpath('//p[@class="f4 mb-3"]')  #xpath to find repository description
        Github_details['Repository_description'].append(des.text)
    except NoSuchElementException:
        Github_details['Repository_description'].append('--') 
    
    title=driver.find_elements_by_xpath('//span[@class="color-text-primary text-bold mr-1"]') #xpath to find the languages used in repository 
    lang=[]
    lang.clear()
    for t in title:
        lang.append(t.text)  
    Github_details['Language_used'].append(lang)

In [19]:
len(Github_details['Repository_user']),len(Github_details['Repository_Title']),len(Github_details['Repository_description']),len(Github_details['Contributors_count']),len(Github_details['Language_used'])

(25, 25, 25, 25, 25)

In [20]:
Github_details=pd.DataFrame.from_dict(Github_details)
Github_details

,Repository_user,Repository_Title,Repository_description,Contributors_count,Language_used
0,jina-ai,jina,An easier way to build neural search on the cloud,5,"[Python, HTML, CSS, Shell, Dockerfile, JavaScr..."
1,willmcgugan,rich,Rich is a Python library for rich text and bea...,5,"[Python, Other]"
2,monyhar,monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,1,[C]
3,programthink,books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,1,[]
4,jwasham,coding-interview-university,A complete computer science study plan to beco...,5,[]
5,streamich,react-use,React Hooks — 👍,5,"[TypeScript, JavaScript]"
6,hasura,graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",5,"[Haskell, JavaScript, TypeScript, Go, Python, ..."
7,walidshaari,Certified-Kubernetes-Security-Specialist,Curated resources help you prepare for the CNC...,5,"[AGS Script, Jinja]"
8,siduck76,NvChad,beautiful neovim setup configured in lua,5,"[Lua, Shell]"
9,trimstray,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",5,[]
10,lydiahallie,javascript-questions,A long list of (advanced) JavaScript questions...,5,[]
11,IlanKalendarov,SharpHook,--,1,[C#]
12,SuMaiKaDe,bot,--,2,"[Python, Shell, JavaScript]"
13,bitcoin,bitcoin,Bitcoin Core integration/staging tree,5,"[C++, Python, C, M4, Shell, Makefile, Other]"
14,nushell,nushell,A new type of shell,5,[Rust]
15,neovim,neovim,Vim-fork focused on extensibility and usability,5,"[Vim script, C, Lua, Python, CMake, Shell, Other]"
16,smokeme,payloadGenerator,Generate obfuscated meterpreter shells,1,"[Python, C#]"
17,RPwnage,pwn-my,iOS 14.5 WebKit/Safari based Jailbreak,4,"[JavaScript, CSS, HTML]"
18,BurntSushi,ripgrep,ripgrep recursively searches directories for a...,5,"[Rust, Python, Shell, Other]"
19,elastic,kibana,Your window into the Elastic Stack,5,"[TypeScript, JavaScript, SCSS, Shell, CSS, HTM..."
20,CyberPunkMetalHead,backtesting-for-cryptocurrency-trading,This is a simple backtesting framework to help...,1,[Python]
21,discordjs,discord.js,A powerful JavaScript library for interacting ...,5,"[JavaScript, Other]"
22,atom,atom,The hackable text editor,5,"[JavaScript, Less, CoffeeScript, Shell, Batchf..."
23,thanos-io,thanos,Highly available Prometheus setup with long te...,5,"[Go, TypeScript, Jsonnet, JavaScript, HTML, Ma..."
24,Asabeneh,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,5,"[JavaScript, HTML]"

In [21]:
driver.close()

Q6.Scrape the details of top 100 songs on billboard.com
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [100]:
url='https://www.billboard.com/'
#get url
driver.get(url)

#click on hot 100
page=driver.find_element_by_xpath('//div[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a')  #xpath to open hot 100 page
page.click()

#empty list
top_100songs={}
top_100songs['Song_name']=[]
top_100songs['Artist_name']=[]
top_100songs['Last_week_rank']=[]
top_100songs['Peak_rank']=[]
top_100songs['Week_on_board']=[]


#extracting song name
songs=driver.find_elements_by_xpath('//li[@class="chart-list__element display--flex"]/button/span[2]/span[1]') #xpath to find songs name
for s in songs:
    top_100songs['Song_name'].append(s.text) 

# extracting artist name  
artist=driver.find_elements_by_xpath('//li[@class="chart-list__element display--flex"]/button/span[2]/span[2]')   #xpath to find artist
for a in artist:
    top_100songs['Artist_name'].append(a.text)  

#extracting Last week rank    
l_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')  #xpath to find the last week rank
for r in l_rank:
    top_100songs['Last_week_rank'].append(r.text) 

#extracting peek rank    
p_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')  #xpath to find peek rank
for p in p_rank:
    top_100songs['Peak_rank'].append(p.text) #

#extracting week on board     
board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')   #xpath to find week on board
for b in board:
    top_100songs['Week_on_board'].append(b.text)

In [101]:
len(top_100songs['Song_name']),len(top_100songs['Artist_name']),len(top_100songs['Last_week_rank']),len(top_100songs['Peak_rank']),len(top_100songs['Week_on_board'])

(100, 100, 100, 100, 100)

In [102]:
top_100songs=pd.DataFrame.from_dict(top_100songs)
top_100songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Week_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

Q7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [5]:
# opening driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')
#get url
url='https://www.naukri.com/'
driver.get(url)

# click on "Recruiters"
driver.find_element_by_xpath("//ul[@class='midSec menu']//following::a[@title='Search Recruiters']").click()
time.sleep(4) # give time to load new tab
# switch to new tab
driver.switch_to.window(driver.window_handles[1])

In [40]:
#search bar
searchbar=driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
searchbar.clear()
searchbar.send_keys("Data Scientist")

#search button
searchbutton=driver.find_element_by_id('qsbFormBtn')
searchbutton.click()

#empty lists
Recruiters_Details={}
Recruiters_Details['Name']=[]
Recruiters_Details['Designation']=[]
Recruiters_Details['Company']=[]
Recruiters_Details['Skills_they_hire']=[]
Recruiters_Details['Location']=[]

vcard_wbe=driver.find_elements_by_xpath("//div[@class='vcard']")

for i in vcard_wbe:
#     pdb.set_trace()
    if len(i.text.split('\n')) == 4: # if location info is avaialble
        Recruiters_Details['Name'].append(i.text.split('\n')[0])  #appending recuriter name 
        
        Recruiters_Details['Designation'].append(i.text.split('\n')[1])  #appending recuriter Designation
        
        Recruiters_Details['Company'].append(i.text.split('\n')[2]) #appending recuriter company
        
        Recruiters_Details['Location'].append(i.text.split('\n')[3])#appending company location
        
    elif len(i.text.split('\n')) == 3: # if location info is missing
        
        Recruiters_Details['Name'].append(i.text.split('\n')[0])
        
        Recruiters_Details['Designation'].append(i.text.split('\n')[1])
        
        Recruiters_Details['Company'].append(i.text.split('\n')[2])
        
        Recruiters_Details['Location'].append('---')

#skills
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]') #xpath to find skill
for s in skill:
    Recruiters_Details['Skills_they_hire'].append(s.text)

In [41]:
len(Recruiters_Details['Name']),len(Recruiters_Details['Designation']),len(Recruiters_Details['Company']),len(Recruiters_Details['Location']),len(Recruiters_Details['Skills_they_hire'])

(50, 50, 50, 50, 50)

In [42]:
Recruiters_Details=pd.DataFrame.from_dict(Recruiters_Details)
Recruiters_Details

,Name,Designation,Company,Skills_they_hire,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,IT / Bi Data Analytics/ Decision Sciences,Hyderabad / Secunderabad
6,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
8,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
9,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
10,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
20,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,"Data Scientist, Developer, Ui, Accounting",Chennai
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,"C, C++, Unity3d, Core Php, Android Development...",Ahmedabad
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
32,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",---
34,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
36,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
38,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
39,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
40,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
41,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
42,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
44,Arya,Human Resources Manager,Arya.ai,"Artificial Intelligence, Deep Learning, Machin...",Mumbai
45,Blueberry Digital Labs,HR,Blueberry Digital Labs,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Hyderabad / Secunderabad
46,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,"java, J2ee, activemq, rest, cassandra, redis, ...",Noida
47,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,"Java, J2EE, Oracle E-business Suite, MS CRM, P...",Chennai
48,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,"Medical Coders, mbbs, bi, appeals, master data...",Hyderabad / Secunderabad
49,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai

In [43]:
driver.close()

Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [8]:
# opening driver 
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

# get url
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

#emptylist
book_name=[]
author_name=[]
volume=[]
publisher=[]
genre=[]

for i in range(0,100):
    bname=driver.find_elements_by_id('table-cell-10943-{}-1'.format(i)) #xpath to find the book name
    for b in bname:
        book_name.append(b.text)
    
    aname=driver.find_elements_by_id('table-cell-10943-{}-2'.format(i)) #xpath to find the author name
    for a in aname:
        author_name.append(a.text) 
    
    vol=driver.find_elements_by_id('table-cell-10943-{}-3'.format(i)) #xpath to find volume sales
    for v in vol:
        volume.append(v.text)
        
    pub=driver.find_elements_by_id('table-cell-10943-{}-4'.format(i))  #xpath to find publisher
    for p in pub:
        publisher.append(p.text)
        
    gen=driver.find_elements_by_id('table-cell-10943-{}-5'.format(i))  #xpath to find genre
    for g in gen:
        genre.append(g.text)

In [9]:
len(book_name),len(author_name),len(volume),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [10]:
Highest_saled_books=pd.DataFrame({'Book_Name':book_name,'Author_Name':author_name,
                    'Volume_sales':volume,'Publisher':publisher,'Genre':genre})
Highest_saled_books

,Book_Name,Author_Name,Volume_sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [13]:
#get the url
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

#empty list
Name=[]
year_span=[]
Genre=[]
run_time=[]
ratings=[]
votes=[]

name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a') #xpath to find most watched tv series name
for n in name:
    Name.append(n.text)

year=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]') #xpath to find most watched tv series year span
for y in year:
    year_span.append(y.text)

genre=driver.find_elements_by_xpath('//span[@class="genre"]')  #xpath to find genre of most watched tv series
for g in genre:
    Genre.append(g.text)
    
rtime=driver.find_elements_by_xpath('//span[@class="runtime"]') #xpath to find most watched tv series run time
for t in rtime:
    run_time.append(t.text)
    
rates=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]') #xpath to find most watched tv series rating
for r in rates:
    ratings.append(r.text)
    
vote=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')  #xpath to find votes of most watched tv series 
for v in vote:
    votes.append(v.text)

In [14]:
len(Name),len(year_span),len(Genre),len(ratings),len(votes)

(100, 100, 100, 100, 100)

In [15]:
most_watched_TVseries=pd.DataFrame({"Program_name":Name,"Year_Span":year_span,"Genre":Genre,
                                   "Run_Time":run_time,"Rating":ratings,"Votes":votes})
most_watched_TVseries

,Program_name,Year_Span,Genre,Run_Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,861"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,565"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,377"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,641"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,981"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,568"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,058"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,657"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,874"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,354"

Q10.Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [42]:
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

#opening all datasets
datasets=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
datasets.click()

#empty lists
D_name=[]
Dtype=[]
Task=[]
A_type=[]
no_instances=[]
no_attribute=[]
Year=[]


name = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[1]/table/tbody/tr/td[2]/p[@class='normal']/b/a") #xpath to find UCI machine repositories name
for n in name:
    D_name.append(n.text)

type = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[2]/p[@class='normal']")  #xpath to find dtypes
for d in type:
    Dtype.append(d.text)

task= driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[3]/p[@class='normal']") #xpath to find  task
for t in task:
    Task.append(t.text)

atype = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[4]/p[@class='normal']") #xpath to find attribute type
for a in atype:
    A_type.append(a.text)

inst = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[5]/p[@class='normal']") #xpath to find no.instance
for i in inst:
    no_instances.append(i.text)

attribute = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[6]/p[@class='normal']") #xpath to find no.attributes
for b in attribute:
    no_attribute.append(b.text)

year = driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[7]/p[@class='normal']")  #xpath to find year
for y in year:
    Year.append(y.text)

In [44]:
UCI_repositories=pd.DataFrame({"Dataset_name":D_name,"Data_type":Dtype,
                               "Task":Task,"Attribute_type":A_type,"No_of_instances":no_instances,
                               "No_of_attribute":no_attribute,"Year":Year})
UCI_repositories

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021